/* Gemensamma delar */
h1 {
    text-align: center;
}

.navbar {
    background-color: black;

    .navbar-brand img {
        width: 50px;
    }

    &.navbar-expand-lg {
        &.bg-body-tertiary {
            img {
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto 10px;
            }
        }
    }

    .nav-link {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;


    h1 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }
}

.container {
    position: relative;
    width: 100%;
}

/* Övrig styling */
.brand-box {
    display: inline-block;
    margin-right: 20px;

    img {
        width: 200px;
        height: auto;
        margin: 50px;
    }
}

section {
    width: 50%;
    margin: 2.5em;

    h2 {
        text-align: center;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }
}


body {

    /* Background image */
    background-image: url('https://cdn.wallpapersafari.com/72/22/eJpjwf.jpg');
    max-width: 100%;
    height: auto;
}

.history {
    color: white;
    font-family: 'Times New Roman', Times, serif;

    p {
        display: none;
        background-color: white;

        &:hover {
            display: contents;
        }
    }

    h1 {
        color: white;
    }
}

.car-brands {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 20px;

    .card {
        transition: transform 0.3s, box-shadow 0.3s;
        border: none;
        overflow: hidden;
        border-radius: 15px;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        img {
            padding: 20px;
            object-fit: contain;
            height: 200px;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}


section {
    width: 100%;
    margin: 1.5em;
    background-color: black;
    padding: 1.5em;
    box-shadow: 0 2px 7px white;
    font-family: 'Times New Roman', Times, serif;
}



section h2 {

    font-size: 1.8em;
    margin-bottom: 0.5em;
}

section p {
    margin-bottom: 1.5em;
}



section {
    width: 50%;
    margin: 2.5em;
}

section h2 {
    text-align: center;
    transition: transform 0.5s;
}

section h2:hover {
    transform: scale(1.2);
}


body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

}


.history p {
    display: none;
    background-color: white;
    background-color: white;
}

.history:hover p {
    display: contents;
}


.L {
    color: white;
}

.logo {
    width: 500px;
    height: auto;
}