h1 {
    text-align: center;
}

.navbar-brand img {
    width: 50px;
}

.navbar navbar-expand-lg bg-body-tertiary img {
    width: 100%;
    /* Bilden fyller hela bredden av dess föräldrelement */
    height: auto;
    /* Bibehåller bildens proportioner */
    display: block;
    /* Tar bort eventuella extra mellanrum och justerar vertikalt */
    margin: 0 auto 10px;
    /* Centrera bilden horisontellt och lägg till lite avstånd under den */
}


.black-background {
    background-color: black;
}

.navbar {
    background-color: black;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link {
    color: white;
    font-family: 'Times New Roman', Times, serif
}


.container {
    position: relative;
    width: 100%;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.overlay-text h1 {
    margin-top: 0;
}

.overlay-text p {
    margin-bottom: 0;
}

.daytona {
    width: 100%;
    /* Ensure the image fills its container */
    height: auto;
    /* Maintain aspect ratio */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* All image sizes will change in this domain below */

.logo {
    width: 125px;
    height: auto;
}

.brand-box img {
    width: 200px;
    height: auto;
    margin: 50px;
}

.brand-logo {
    width: 100%;

    height: auto;

}

/* Add this to your existing CSS file (design.css) */

/* Style for the brand boxes */
.brand-box {
    display: inline-block;
    /* Display boxes side by side */
    /* Add some spacing between boxes */
}

/* Optional: Adjust the spacing between the boxes as needed */
/* You can customize the margin-right value to your preference */












section {
    width: 50%;
    margin: 2.5em;
}

section h2 {
    text-align: center;
    transition: transform 0.5s;
}

section h2:hover {
    transform: scale(1.2);
}


.history p {
    display: none;
    background-color: white;
    background-color: white;
}

.history:hover p {
    display: contents;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif background-color: black;
    color: #d8b04a;
    line-height: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #d8b04a;
}




header {
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


header h1 {
    font-size: 2.5em;
}


nav {
    background-color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul li {
    margin-right: 1.5em;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s;
}




nav ul li a:hover {
    color: black;
}


main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}

section {
    width: 100%;
    margin: 1.5em;
    background-color: black;
    padding: 1.5em;
    box-shadow: 0 2px 7px white;
    font-family: 'Times New Roman', Times, serif;
    border: white;
}



section h2 {

    font-size: 1.8em;
    margin-bottom: 0.5em;
}

section p {
    margin-bottom: 1.5em;
}



.product {
    text-align: center;
    max-width: 600px;
    margin: 1em;
    border: 1px solid #ccc;
    padding: 1.5em;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
    box-shadow: white;
    border: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;


}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px white;

}

.product img {
    max-width: 100%;
    border-radius: 8px;

}

.product h2 {
    margin-top: 1.2em;
    font-size: 1.2em;
}


.product p {
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.product span {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}


footer {
    background-color: white;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px white;
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    width: 50%;
    margin: 2.5em;
}

section h2 {
    text-align: center;
    transition: transform 0.5s;
}

section h2:hover {
    transform: scale(1.2);
}


body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

}


.history p {
    display: none;
    background-color: white;
    background-color: white;
}

.history h1 {
    color: white;
}

.history:hover p {
    display: contents;
}


.L {
    color: white;
}

.car-brands {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

body {
    background-image: url('https://cdn.wallpapersafari.com/72/22/eJpjwf.jpg');
    max-width: 100%;
    height: auto;
}


.history {
    color: white;
    font-family: 'Times New Roman', Times, serif;

<<<<<<< HEAD
}

/* Add this to your design.css file */
.contact-info {
    color: #ffffff;
    /* Tomato color */
}

/* Add this to your design.css file */
.position-title {
    color: #d9b700;
    /* Green color */
}

.contact-label {
    color: #d9b99b;
    /* Blue color for Telefon: and E-post: labels */
}

.contact-image {
    width: 900px;
    height: auto;
=======
>>>>>>> 79c062309385eb1c522411a66ea5913d68efdcea
}